@import './baserules';
@import './variables';
@import './mixins';


header {
    .title {
        @include title;
    }
    li {
        color: $secondary-color;
    }
}

main {
    .title {
        @include title;
        color: yellow;
    }
    .seccion-4 .title {
        text-align: center;
        &:hover {
            background-color: black;
        }
    }
}

/*Este comment es un test*/