* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: url('https://www.hola.com/imagenes/estar-bien/20200811173399/razas-de-perro-grandes-samoyedo/0-854-717/samoyedo-t.jpg');
}


.imagen {
    width: 47vw;
    height: 47vh;
    background-color: blue;
    display: inline-block;
}

@media screen and (max-width: 400px) {
    .imagen {
        width: 100vw;
    }
}

