.cuadrado {
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: all 2s ease;
}

.cuadrado:hover {
    transform: rotate(360deg);
    /*animation: rotate 2s infinite;*/
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}